/env
/firebase-credentials.json
/chatbot-5b997-firebase-adminsdk-fbsvc-83be944156.json
/__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.env
*.db
*.sqlite
*.sqlite3
.DS_Store
.idea/
.vscode/
node_modules/
dist/
build/  

./env